<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-200 m-4 sm:m-6 flex flex-col">
  
  <div class="flex flex-col md:flex-row items-center  gap-2 md:gap-4">
    <input
      type="text"
      placeholder="Buscar... "
      class="input input-sm md:input-md w-52 md:max-w-xs m-1"
    />
    <div class="tooltip tooltip-bottom md:self-center" data-tip="Puedes buscar por nombre o número de identificación.">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-500" width="20" height="20" viewBox="0 0 16 16">
        <g fill="currentColor">
          <path d="M9 11a1 1 0 1 1-2 0a1 1 0 0 1 2 0M7.5 4A2.5 2.5 0 0 0 5 6.5h2a.5.5 0 0 1 .5-.5h.646a.382.382 0 0 1 .17.724L7 7.382V9h2v-.382l.211-.106A2.382 2.382 0 0 0 8.146 4z"/>
          <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-6a6 6 0 1 0 0 12A6 6 0 0 0 8 2"/>
        </g>
      </svg>
    </div>
  </div>
 

  <div class="w-full overflow-x-auto">
    <table class="table table-zebra">
      <!-- head -->
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Precio</th>
          <th>Disponibilidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th>1</th>
            <th>Pan</th>
            <th>Electronico</th>
            <th>20.000</th>
            <th>Disponible</th>
            <th><button class="btn btn-primary">Editar</button></th>
            <th><button class="btn btn-error">Eliminar</button></th>
        </tr>

        <tr>
            <th>1</th>
            <th>Pan</th>
            <th>Electronico</th>
            <th>20.000</th>
            <th>Disponible</th>
            <th><button class="btn btn-primary">Editar</button></th>
            <th><button class="btn btn-error">Eliminar</button></th>
        </tr>

        <tr>
            <th>1</th>
            <th>Pan</th>
            <th>Electronico</th>
            <th>20.000</th>
            <th>Disponible</th>
            <th><button class="btn btn-primary">Editar</button></th>
            <th><button class="btn btn-error">Eliminar</button></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>