<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-200 m-4 sm:m-6 flex flex-col">

  <!-- Filtros -->
  <div class="flex flex-col md:flex-row items-center justify-between gap-4 p-4 w-full flex-wrap">
    <div class="flex items-center gap-2">
      <select 
        class="select select-sm md:select-md w-52"  
        [value]="categoriaSeleccionada()"
        (change)="categoriaSeleccionada.set($any($event.target).value)"
      >
        <option value="">Todos</option>
        @for (item of categorias; track $index) {
          <option [value]="item">{{ item }}</option>
        }
      </select>

      <div class="tooltip tooltip-bottom md:self-center" data-tip="Puedes buscar por Categorias.">
        <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-500" width="20" height="20" viewBox="0 0 16 16">
          <g fill="currentColor">
            <path d="M9 11a1 1 0 1 1-2 0a1 1 0 0 1 2 0M7.5 4A2.5 2.5 0 0 0 5 6.5h2a.5.5 0 0 1 .5-.5h.646a.382.382 0 0 1 .17.724L7 7.382V9h2v-.382l.211-.106A2.382 2.382 0 0 0 8.146 4z"/>
            <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-6a6 6 0 1 0 0 12A6 6 0 0 0 8 2"/>
          </g>
        </svg>
      </div>
    </div>
  </div>


  <div class="w-full overflow-x-auto">
    <table class="table table-zebra text-sm sm:text-base min-w-full">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Precio</th>
          <th>Disponibilidad</th>
          <th colspan="2" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @if(!products()?.length || !productsFiltrados?.length ){
          <tr>
            <td colspan="7">
              <div role="alert" class="alert bg-warning/20 text-warning-content">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="h-6 w-6 shrink-0 stroke-current" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>No hay productos disponibles</span>
              </div>
            </td>
          </tr>
        }@else if(productsFiltrados){
          @for (item of productsFiltrados; track item.id; let index = $index) {
            <tr>
              <td>{{ index + 1 }}</td>
              <td>{{ item.name | titlecase }}</td>
              <td>{{ item.category }}</td>
              <td>{{ item.price | currency }}</td>
              <td>{{ item.available | availablePipe }}</td>
              <td>
                <button class="btn btn-info btn-sm" (click)="openInfoModal(item)">Más</button>
              </td>
              <td>
                <button class="btn btn-primary btn-sm" [routerLink]="['/editer', item.id]">Editar</button>
              </td>
              <td>
                <button class="btn btn-error btn-sm" (click)="openModal(item.id)">Eliminar</button>
              </td>
            </tr>
          }
        } @else {
          @for (item of products(); track item.id; let index = $index) {
            <tr>
              <td>{{ index + 1 }}</td>
              <td>{{ item.name | titlecase }}</td>
              <td>{{ item.category }}</td>
              <td>{{ item.price | currency }}</td>
              <td>{{ item.available | availablePipe }}</td>
              <td>
                <button class="btn btn-primary btn-sm" [routerLink]="['/editer', item.id]">Editar</button>
              </td>
              <td>
                <button class="btn btn-error btn-sm" (click)="openModal(item.id)">Eliminar</button>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>


<dialog id="my_modal_Delete" class="modal modal-middle">
  <div class="modal-box">
    <div role="alert" class="alert alert-warning">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
      </svg>
      <span>¿Estás seguro de eliminar este producto?</span>
    </div>
    <div class="modal-action">
      <form method="dialog" class="flex justify-end gap-2">
        <button class="btn btn-success" (click)="sendIdProductos(idProductoDelete)">Eliminar</button>
        <button class="btn btn-error">Cancelar</button>
      </form>
    </div>
  </div>
</dialog>


<dialog id="modal_info_producto" class="modal modal-middle">
  <div class="modal-box w-full max-w-md">
    <h3 class="font-bold text-xl text-center mb-6 ">🛍️ Detalles del Producto</h3>

    <div class="grid grid-cols-2 grid-rows-4 gap-x-4 gap-y-3 text-sm text-base-content">
      <!-- Nombre -->
      <div class="col-span-2">
        <span class="font-semibold ">📦 Nombre:</span>
        <p class="capitalize text-lg font-medium text-primary mt-1">{{ productInfo?.name }}</p>
      </div>

      <!-- Categoría -->
      <div class="row-start-2">
        <span class="font-semibold">📁 Categoría:</span>
        <p class="mt-1">
          <span class="badge badge-outline badge-sm text-xs">{{ productInfo?.category }}</span>
        </p>
      </div>

      <!-- Precio -->
      <div class="row-start-3">
        <span class="font-semibold">💰 Precio:</span>
        <p class="text-success font-semibold mt-1">{{ productInfo?.price | currency }}</p>
      </div>

      <!-- Estado -->
      <div class="row-start-3">
        <span class="font-semibol">🔄 Estado:</span>
        <p class="mt-1">
       
            {{ productInfo?.available | availablePipe }}
  
        </p>
      </div>

      <!-- Descripción -->
      <div class="col-span-2 row-start-4">
        <hr class="my-2">
        <span class="font-semibold block mb-1">📝 Descripción:</span>
        <p class="text-justify leading-snug text-gray-700">{{ productInfo?.description || 'No disponible' }}</p>
      </div>
    </div>

    <div class="modal-action mt-6">
      <form method="dialog">
        <button class="btn btn-outline btn-sm">Cerrar</button>
      </form>
    </div>
  </div>
</dialog>

